.navbar {
  padding: 20px 40px;
  display: flex;
  flex-direction: row nowrap;
  justify-content: space-between;
}

.navbar-logo {
  font-size: 2em;
  font-weight: bold;
}

.navbar-list {
  display: flex;
  flex-flow: row nowrap;
  text-decoration: none;
  color: inherit;
}

.navbar-item {
  text-decoration: none;
  color: inherit;
}
